<!-- Validation failure messages -->
<% if @counselor_like.errors.any? %>
  <% @counselor_like.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Counselor Like</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_counselor_like" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for want_id -->
      <div class="form-group">
        <label for="want_id" class="control-label">
          Want
        </label>

        <%= select_tag(:want_id, options_from_collection_for_select(Want.all, :id, :user_id, @counselor_like.want_id), :class => "form-control") %>
      </div>

      <!-- Label and input for counselor_id -->
      <div class="form-group">
        <label for="counselor_id" class="control-label">
          Counselor
        </label>

        <%= select_tag(:counselor_id, options_from_collection_for_select(User.all, :id, :created_at, @counselor_like.counselor_id), :class => "form-control") %>
      </div>

      <!-- Label and input for like -->
      <div class="checkbox">
        <label for="like">
          <input type="checkbox" id="like" name="like" value="1" <%= "checked" if @counselor_like.like %>>
          Like
        </label>
      </div>

      <button class="btn btn-success">
        Create Counselor Like
      </button>
      or
      <a href="/counselor_likes">Cancel</a>
    </form>
  </div>
</div>
