<!-- Validation failure messages -->
<% if @want.errors.any? %>
  <% @want.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Want #<%= @want.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_want/<%= @want.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      
      

      <!-- Label and input for wants -->
      <div class="form-group">
        <label for="wants" class="control-label">
          Wants
        </label>

        <input type="text" id="wants" name="wants" placeholder="Wants" class="form-control" value="<%= @want.wants %>">
      </div>

      <button class="btn btn-warning">
        Update Want
      </button>
      or
      <a href="/wants/<%= @want.id %>">Cancel</a>
    </form>
  </div>
</div>
