<div class="page-header">
  <h3>Want #<%= @want.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @want.user.present? %>
          <a href="/users/<%= @want.user_id %>">
            <%= @want.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Wants</dt>
      <dd><%= @want.wants %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/wants" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @want.user %>
        <a href="/wants/<%= @want.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_want/<%= @want.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Want has many counselors_likes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Counselors_likes
      </li>

      <% @want.counselors_likes.each do |counselor_like| %>
        <li class="list-group-item">
          <a href="/counselor_likes/<%= counselor_like.id %>">
            <%= counselor_like.counselor_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/counselor_likes/<%= counselor_like.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/counselor_likes/<%= counselor_like.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_counselor_like/<%= counselor_like.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_counselor_like" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for want_id -->
      <input type="hidden" name="want_id" value="<%= @want.id %>">

      <!-- Label and input for counselor_id -->
      <div class="form-group">
        <label for="counselor_id" class="control-label">
          Counselor
        </label>

        <%= select_tag(:counselor_id, options_from_collection_for_select(User.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for like -->
      <div class="checkbox">
        <label for="like">
          <input type="checkbox" id="like" name="like" value="1" <%= "checked" if @counselor_like.like %>>
          Like
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Counselor Like
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Want has many wants_tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Wants_tags
      </li>

      <% @want.wants_tags.each do |want_tag| %>
        <li class="list-group-item">
          <a href="/want_tags/<%= want_tag.id %>">
            <%= want_tag.want_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/want_tags/<%= want_tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/want_tags/<%= want_tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_want_tag/<%= want_tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_want_tag" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for want_id -->
      <input type="hidden" name="want_id" value="<%= @want.id %>">

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :tag), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Want Tag
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Want has many want_offers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Want_offers
      </li>

      <% @want.want_offers.each do |want_offer| %>
        <li class="list-group-item">
          <a href="/want_offers/<%= want_offer.id %>">
            <%= want_offer.want_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/want_offers/<%= want_offer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/want_offers/<%= want_offer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_want_offer/<%= want_offer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_want_offer" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for offer_id -->
      <div class="form-group">
        <label for="offer_id" class="control-label">
          Offer
        </label>

        <%= select_tag(:offer_id, options_from_collection_for_select(Offer.all, :id, :counselor_id), :class => "form-control") %>
      </div>

      <!-- Label and input for want_id -->
      <input type="hidden" name="want_id" value="<%= @want.id %>">

      <!-- Label and input for match -->
      <div class="checkbox">
        <label for="match">
          <input type="checkbox" id="match" name="match" value="1" <%= "checked" if @want_offer.match %>>
          Match
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Want Offer
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Want has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @want.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.tag %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tags/<%= tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tags/<%= tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tag/<%= tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
