<div class="page-header">
  <h1>
    Sessions
    <a href="/sessions/new" class="btn btn-lg btn-success">New Session</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Date time</th>
        <th>Comment</th>
        <th>User stars</th>
        <th>Offer stars</th>
        <th>Want offer</th>
        <th>Actions</th>
      </tr>

      <% @sessions.each do |session| %>
      <tr>
        <td><%= session.date_time %></td>
        <td><%= session.comment %></td>
        <td><%= session.user_stars %></td>
        <td><%= session.offer_stars %></td>
        <td><%= session.want_offer_id %></td>
        <td>
          <a href="/sessions/<%= session.id %>" class="btn btn-primary">Show</a>
          <a href="/sessions/<%= session.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_session/<%= session.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
