<!-- Validation failure messages -->
<% if @session.errors.any? %>
  <% @session.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Session</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_session" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date_time -->
      <div class="form-group">
        <label for="date_time" class="control-label">
          Date time
        </label>

        <input type="text" id="date_time" name="date_time" placeholder="Date time" class="form-control" value="<%= @session.date_time %>">
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"><%= @session.comment %></textarea>
      </div>

      <!-- Label and input for user_stars -->
      <div class="form-group">
        <label for="user_stars" class="control-label">
          User stars
        </label>

        <input type="text" id="user_stars" name="user_stars" placeholder="User stars" class="form-control" value="<%= @session.user_stars %>">
      </div>

      <!-- Label and input for offer_stars -->
      <div class="form-group">
        <label for="offer_stars" class="control-label">
          Offer stars
        </label>

        <input type="text" id="offer_stars" name="offer_stars" placeholder="Offer stars" class="form-control" value="<%= @session.offer_stars %>">
      </div>

      <!-- Label and input for want_offer_id -->
      <div class="form-group">
        <label for="want_offer_id" class="control-label">
          Want offer
        </label>

        <%= select_tag(:want_offer_id, options_from_collection_for_select(WantOffer.all, :id, :want_id, @session.want_offer_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Session
      </button>
      or
      <a href="/sessions">Cancel</a>
    </form>
  </div>
</div>
