<div class="page-header">
  <h3>Session #<%= @session.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date time</dt>
      <dd><%= @session.date_time %></dd>

      <dt>Comment</dt>
      <dd><%= @session.comment %></dd>

      <dt>User stars</dt>
      <dd><%= @session.user_stars %></dd>

      <dt>Offer stars</dt>
      <dd><%= @session.offer_stars %></dd>

      <dt>Want offer</dt>
      <dd>
        <% if @session.want_offer.present? %>
          <a href="/want_offers/<%= @session.want_offer_id %>">
            <%= @session.want_offer.want_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/sessions" class="btn btn-primary">
        Back
      </a>
      <a href="/sessions/<%= @session.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_session/<%= @session.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Session has many user -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User
      </li>

      <% @session.user.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Session has many want -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Want
      </li>

      <% @session.want.each do |want| %>
        <li class="list-group-item">
          <a href="/wants/<%= want.id %>">
            <%= want.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/wants/<%= want.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/wants/<%= want.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_want/<%= want.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Session has many offer -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Offer
      </li>

      <% @session.offer.each do |offer| %>
        <li class="list-group-item">
          <a href="/offers/<%= offer.id %>">
            <%= offer.counselor_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/offers/<%= offer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/offers/<%= offer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_offer/<%= offer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
