<div class="page-header">
  <h3>Offer Tag #<%= @offer_tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Offer</dt>
      <dd>
        <% if @offer_tag.offer.present? %>
          <a href="/offers/<%= @offer_tag.offer_id %>">
            <%= @offer_tag.offer.counselor_id %>
          </a>
        <% end %>
      </dd>

      <dt>Tag</dt>
      <dd>
        <% if @offer_tag.tag.present? %>
          <a href="/tags/<%= @offer_tag.tag_id %>">
            <%= @offer_tag.tag.tag %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/offer_tags" class="btn btn-primary">
        Back
      </a>
      <a href="/offer_tags/<%= @offer_tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_offer_tag/<%= @offer_tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
