<!-- Validation failure messages -->
<% if @want_offer.errors.any? %>
  <% @want_offer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Want Offer</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_want_offer" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for offer_id -->
      <div class="form-group">
        <label for="offer_id" class="control-label">
          Offer
        </label>

        <%= select_tag(:offer_id, options_from_collection_for_select(Offer.all, :id, :counselor_id, @want_offer.offer_id), :class => "form-control") %>
      </div>

      <!-- Label and input for want_id -->
      <div class="form-group">
        <label for="want_id" class="control-label">
          Want
        </label>

        <%= select_tag(:want_id, options_from_collection_for_select(Want.all, :id, :user_id, @want_offer.want_id), :class => "form-control") %>
      </div>

      <!-- Label and input for match -->
      <div class="checkbox">
        <label for="match">
          <input type="checkbox" id="match" name="match" value="1" <%= "checked" if @want_offer.match %>>
          Match
        </label>
      </div>

      <button class="btn btn-success">
        Create Want Offer
      </button>
      or
      <a href="/want_offers">Cancel</a>
    </form>
  </div>
</div>
