<div class="page-header">
  <h3>Want Tag #<%= @want_tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Want</dt>
      <dd><%= @want_tag.want_id %></dd>

      <dt>Tag</dt>
      <dd><%= @want_tag.tag_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/want_tags" class="btn btn-primary">
        Back
      </a>
      <a href="/want_tags/<%= @want_tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_want_tag/<%= @want_tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
