<div class="page-header">
  <h3>Want Tag #<%= @want_tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Want</dt>
      <dd>
        <% if @want_tag.want.present? %>
          <a href="/wants/<%= @want_tag.want_id %>">
            <%= @want_tag.want.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Tag</dt>
      <dd>
        <% if @want_tag.tag.present? %>
          <a href="/tags/<%= @want_tag.tag_id %>">
            <%= @want_tag.tag.tag %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/want_tags" class="btn btn-primary">
        Back
      </a>
      <a href="/want_tags/<%= @want_tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_want_tag/<%= @want_tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
