<div class="page-header">
  <h3>Offer #<%= @offer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Counselor</dt>
      <dd><%= @offer.counselor_id %></dd>

      <dt>Offers</dt>
      <dd><%= @offer.offers %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/offers" class="btn btn-primary">
        Back
      </a>
      <a href="/offers/<%= @offer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_offer/<%= @offer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Offer has many offers_tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Offers_tags
      </li>

      <% @offer.offers_tags.each do |offer_tag| %>
        <li class="list-group-item">
          <a href="/offer_tags/<%= offer_tag.id %>">
            <%= offer_tag.offer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/offer_tags/<%= offer_tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/offer_tags/<%= offer_tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_offer_tag/<%= offer_tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Offer has many want_offers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Want_offers
      </li>

      <% @offer.want_offers.each do |want_offer| %>
        <li class="list-group-item">
          <a href="/want_offers/<%= want_offer.id %>">
            <%= want_offer.want_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/want_offers/<%= want_offer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/want_offers/<%= want_offer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_want_offer/<%= want_offer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Offer has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @offer.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.tag %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tags/<%= tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tags/<%= tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tag/<%= tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
