<div class="page-header">
  <h3>Offer #<%= @offer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Counselor</dt>
      <dd>
        <% if @offer.user.present? %>
          <a href="/users/<%= @offer.counselor_id %>">
            <%= @offer.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Offers</dt>
      <dd><%= @offer.offers %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/offers" class="btn btn-primary">
        Back
      </a>
      <a href="/offers/<%= @offer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_offer/<%= @offer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Offer has many offers_tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Offers_tags
      </li>

      <% @offer.offers_tags.each do |offer_tag| %>
        <li class="list-group-item">
          <a href="/offer_tags/<%= offer_tag.id %>">
            <%= offer_tag.offer_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/offer_tags/<%= offer_tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/offer_tags/<%= offer_tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_offer_tag/<%= offer_tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_offer_tag" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for offer_id -->
      <input type="hidden" name="offer_id" value="<%= @offer.id %>">

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :tag), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Offer Tag
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Offer has many want_offers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Want_offers
      </li>

      <% @offer.want_offers.each do |want_offer| %>
        <li class="list-group-item">
          <a href="/want_offers/<%= want_offer.id %>">
            <%= want_offer.want_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/want_offers/<%= want_offer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/want_offers/<%= want_offer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_want_offer/<%= want_offer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_want_offer" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for offer_id -->
      <input type="hidden" name="offer_id" value="<%= @offer.id %>">

      <!-- Label and input for want_id -->
      <div class="form-group">
        <label for="want_id" class="control-label">
          Want
        </label>

        <%= select_tag(:want_id, options_from_collection_for_select(Want.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for match -->
      <div class="checkbox">
        <label for="match">
          <input type="checkbox" id="match" name="match" value="1" <%= "checked" if @want_offer.match %>>
          Match
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Want Offer
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Offer has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @offer.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.tag %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tags/<%= tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tags/<%= tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tag/<%= tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Offer has many sessions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sessions
      </li>

      <% @offer.sessions.each do |session| %>
        <li class="list-group-item">
          <a href="/sessions/<%= session.id %>">
            <%= session.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sessions/<%= session.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sessions/<%= session.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_session/<%= session.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
